.flex-component {
  display: flex;
  align-items: center;
}
.flex-component--centralize-items {
  justify-content: center;
}
.flex-component--separate-items-equally {
  justify-content: space-between;
}
.paragraph__container {
  flex: 2;
  font-size: 25px;
  letter-spacing: -0.6px;
  text-align: center;
}
.paragraph__item--regular-size {
  font-size: 30px;
}
.paragraph__item--comment-size {
  font-size: 20px;
}
.list_item--disable-marker {
  list-style-type: none;
}
.icon-item__image {
  height: 40px;
  padding: 0 40px;
}
.icon-item__text {
  font-size: 20px;
}
