.presentations-collection {
  flex-wrap: wrap;
  justify-content: center;
}

.link-component {
  /* active when have more than one presentation */
  /* flex-grow: 1; */
  border: 1px #666 solid;
  border-radius: 2%;
  align-self: center;
  opacity: 0.75;
  transition: opacity .5s ease-out;
  display: flex;
}

.link-component:hover {
  border: 1px #666 solid !important;
  opacity: 1;
}

.link-component__iframe {
  flex-grow: 1;
  border: none;
  z-index: -1 !important;
  position: inherit;
  max-height: 100% !important;
  max-width: 100% !important;
}