.presentations-collection {
  flex-wrap: wrap;
  justify-content: center;
}

.link-component {
  /* active when have more than one presentation */
  /* flex-grow: 1; */
  border: 1px white solid;
  align-self: center;
}

.link-component:hover {
  border: 1px white solid !important;
}

.link-component__iframe {
  border: none;
  z-index: -1 !important;
  position: inherit;
}